/* ===== SIDEBAR ===== */
.sidebar {
    width: 320px;
    height: 100vh;
    background: #f2f2f2;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
hr {
    background: #ffffff;
    width: 100%;
    margin-top: 1.2rem;
}
#nutria{
    width: 50%;
    margin: 20px auto 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
    margin: 15px 0;
}

.user i {
    font-size: 28px;
    color: #555;
}

.menu {
    list-style: none;
    padding: 0 15px;
}

.menu li {
    padding: 10px 15px;
    border-radius: 6px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover,
.menu li.active {
    background: #ff6600;
    color: white;
}

.logout {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #666;
}

.logout button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.logout:hover {
    color: #ff6600;
}
