@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-image{
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto 30px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.login-container{
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 8px;
}


.login-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 30px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-input{
    width: 80%; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;

}

.login-input::placeholder {
    color: #999;
}

#login-forget{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    color: #21B558;
    margin: 5px 0 10px;
    width: 80%;           
    text-align: left;    
    display: block; 
}

.login-button{
    width: 80%;
    background-color: #EE7026;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: small;   
}


